databases:
  - name: text_to_speech
    databaseName: text_to_speech
    user: text_to_speech

services:
  - type: web
    name: text_to_speech
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn text_to_speech.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: text_to_speech
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4