{% load static %}

{% block dynamic_content %}   
    <div class="div-wrapper-for-loaded-content">           
        <div class="main-container">
            <div class="progress-container">
                <div class="progress">
                    <div class="progress-done">0%</div>
                </div>
                <div class="progress-description">Converting...</div>
            </div>
            <div class="extra-progress-description">Please wait for the process to complete</div>
            <button class="abort-button">Abort</button>
        </div>            
    </div>            
{% endblock dynamic_content %}