{% extends 'base.html' %} 

{% load static %}
{% block main_content %}

<div id="error-notification"></div>
<div class="detail">Simply copy and paste text in the box below</div>
<div class="_segment">
  <div class="_segment_form_1">    
    <div class="text_input_form">
      <form>
        {% csrf_token %}
        <div class="last">
          <div class="container">
            <div class="header">
              <img src="{% static 'images/cancel.png' %}" alt="" class="clear" />
            </div>          
            {{ text_input_form.text_to_convert }}
          </div>
        </div>
        
        <span class="field-error small-error-span error-span">
          <span class="error-span-main-wrap">
            <span class="material-icons-outlined">error</span>
            <p>Please fill in this field first</p>
          </span>
          <span class="material-icons-outlined cancel-alert-button-text">cancel</span>
        </span>

        <div class="speak">
          <div>
            <button
              class="convert-entered-text-btn"
              name="convert_entered_text"
              type="button"
              id="speak"
            >
              Convert
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="alternative-text-wrapper">
    <hr />
    <p class="alternative-text">OR</p>
    <hr />
  </div>
  <!--Drag and drop files-->
  <div class="_segment_form_2">
    <div class="accepted-files">upload a TXT, DOCX or PDF file</div>
    <form class="form-container" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="upload-files-container">
        <div class="drag-file-area">
          <span class="material-icons-outlined upload-icon"> file_upload </span>
          <h3 class="dynamic-message">Drag & drop any file here</h3>
          <label class="label">
            or
            <span class="browse-files">
              {{ file_input_form.file_to_convert }}
              <span class="browse-files-text">browse file</span>
              <span>from device</span>
            </span>
          </label>
        </div>
        <span class="cannot-upload-message">
          <span class="material-icons-outlined">error</span>
          <span class="select-file-text"> Please select a file first </span>
          <span class="material-icons-outlined cancel-alert-button-file"
            >cancel</span
          >
        </span>
        <div class="file-block">
          <div class="file-info">
            <span class="material-icons-outlined file-icon">description</span>
            <span class="file-name"> </span> | <span class="file-size"> </span>
          </div>
          <span class="material-icons remove-file-icon">delete</span>
          <div class="progress-bar"></div>
        </div>

        <button type="button" class="upload-button">Upload</button>
      </div>
    </form>
  </div>

  <!--Drag and drop files-->
</div>
<div class="config">
  <fieldset class="settings-fieldset">
    <legend class="settings-legend">Settings</legend>
    <div id="selectWrapper" class="settings _segment">
      <div class="settings-lang _segment_form_1">
        <div class="choose_lang_form">
          <label style="color: #000000; font-size: 12px;" for="selectLangList">Choose the language the text is in</label>        
          <select id="selectLangList" name="{{ choose_lang_form.select_lang.name }}">                    
            {% for value, label in choose_lang_form.select_lang.field.choices %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>  
        </div>
      </div>
      <div class="alternative-text-wrapper"></div>
      <div class="settings-accent _segment_form_2">
        <div class="voice_accent_form">
          <label style="color: #000000; font-size: 12px;" for="selectVoiceAccentList">Choose an accent to read the text with</label>        
          <select id="selectVoiceAccentList">          
            {% for value, label in voice_accent_form.select_voice_accent.field.choices %}
              <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
          </select>  
        </div>
      </div>
    </div>
  </fieldset>
</div>

{% endblock main_content %}
