{% extends 'base.html' %} 

{% load static %}
{% block main_content %}

<div class="detail">Simply copy and paste text in the box below</div>
<div class="_segment">
  <div class="_segment_form_1">    
    <div class="text_input_form">
      <form>
        {% csrf_token %}
        <div class="last">
          <div class="container">
            <div class="header">
              <img src="{% static 'images/cancel.png' %}" alt="" class="clear" />
            </div>          
            {{ text_input_form.text_to_convert }}
          </div>
        </div>
        
        <span class="small-error-span error-span">
          <span class="error-span-main-wrap">
            <span class="material-icons-outlined"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bb0000"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></span>
            <p>Please fill in this field first</p>
          </span>
          <span class="material-icons-outlined cancel-alert-button-text"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bb0000"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z"/></svg></span>
        </span>

        <div class="speak convert-entered-text-btn-div">
            <button class="convert-entered-text-btn" name="convert_entered_text" type="button" id="speak">Convert</button>
        </div>
      </form>
    </div>
  </div>
  <div class="alternative-text-wrapper">
    <hr />
    <p class="alternative-text">OR</p>
    <hr />
  </div>
  <!--Drag and drop files-->
  <div class="_segment_form_2">
    <div class="accepted-files">upload a TXT, DOCX or PDF file</div>
    <form class="form-container" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="upload-files-container">
        <div class="drag-file-area">
          <span class="material-icons-outlined upload-icon"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="50px" viewBox="0 0 24 24" width="50px" fill="#FFFFFF"><g><rect fill="none" height="50" width="50"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z"/></g></svg> </span>
          <h3 class="dynamic-message">Drag & drop any file here</h3>
          <label class="label">
            or
            <span class="browse-files">
              {{ file_input_form.file_to_convert }}
              <span class="browse-files-text">browse file</span>
              <span>from device</span>
            </span>
          </label>
        </div>
        <span class="cannot-upload-message">
          <span class="material-icons-outlined"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bb0000"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg></span>
          <span class="select-file-text"> Please select a file first </span>
          <span class="material-icons-outlined cancel-alert-button-file">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bb0000"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z"/></svg></span>
          </span>
        <div class="file-block">
          <div class="file-info">
            <span class="material-icons-outlined file-icon"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg></span>
            <div class="file-name"> </div class="spearator">|<div class="file-size"> </div>
          </div>
          <div class="material-icons remove-file-icon"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#fff"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg></div>
        </div>

        <button type="button" class="upload-button">Upload</button>
      </div>
    </form>
  </div>

  <!--Drag and drop files-->
</div>

{% endblock main_content %}
