{% extends 'base.html' %}

{% load static %}

{% block content %}    

    <div class="detail">Simply copy and paste text in the box below:</div>
    <form action = "{% url 'text_to_speech:convert_entered_text' %}" method="POST">
        {% csrf_token %}
        <div class="last">
            <div class="container">
                <div class="header">
                    <img src="{% static 'images/cancel.png' %}" alt=""class="clear">
                </div>
                {{ text_input_form.text_to_convert }}
            </div>
        </div>

        <div class="speak">            
            <div><button class="convert-entered-text-btn" name="convert_entered_text" type="submit" id="speak">Convert</button></div>
        </div>    
    </form>

    <div class="alternative-text">
        OR
    </div>

    <!--Drag and drop files-->
    <form class="form-container" enctype='multipart/form-data'>
        <div class="upload-files-container">
            <div class="drag-file-area">
                <span class="material-icons-outlined upload-icon"> file_upload </span>
                <h3 class="dynamic-message"> Drag & drop any file here </h3>
                <label class="label"> or <span class="browse-files"> <input type="file" class="default-file-input"/> <span class="browse-files-text">browse file</span> <span>from device</span> </span> </label>
            </div>
            <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
            <div class="file-block">
                <div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
                <span class="material-icons remove-file-icon">delete</span>
                <div class="progress-bar"> </div>
            </div>
            {% comment %} <div class="speak">
                <div><a class="open-modal upload-a" id="speak" href="#modal">Speak</a></div>
            </div> {% endcomment %}

            <button type="button" class="upload-button">Convert</button>
        </div>
    </form>
    <!--Drag and drop files-->
    
    <script src="{% static 'index.js' %}"></script>

{% endblock content %}
    